includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules

    excludePaths:
        - Modules/*/node_modules
        - Modules/*/vendor
        - Modules/*/tests

    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Method .* should return .* but returns Illuminate\\Database\\Eloquent\\Builder#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
